{
  "presets": [
    [
      "next/babel",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": [
    ["transform-class-properties"]
  ],
  "env": {
    "jest": {
      "presets": [
        [
          "next/babel",
        ]
      ]
    }
  }
}
