{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "env": {
    "jest": {
      "presets": [
        [
          "next/babel",
        ]
      ]
    }
  }
}
